%{
#include "types.out.cpp.h"
%}

NAMESPACE "MySimplifyRules";
CLASS "MyClass";
PLUGIN_NAME "BasicStuff";

//TODO: support relative paths
include_types "/home/fabian/svn/trunk/c++/mathematics/cas2/Regeln/types";
include_rules "/home/fabian/svn/trunk/c++/mathematics/cas2/Regeln/Exp";
include_rules "/home/fabian/svn/trunk/c++/mathematics/cas2/Regeln/Set";
include_rules "/home/fabian/svn/trunk/c++/mathematics/cas2/Regeln/Logic";
include_rules "/home/fabian/svn/trunk/c++/mathematics/cas2/Regeln/Solve";
include_rules "/home/fabian/svn/trunk/c++/mathematics/cas2/Regeln/Expand";
include_rules "/home/fabian/svn/trunk/c++/mathematics/cas2/Regeln/Diff";

%{
#ifdef SHOW_DEBUG
}; };
namespace Global { int tabs; };
namespace MySimplifyRules { namespace __private {
#endif
%}