[Desktop Entry]
Name=CAS KRunner Plugin
Name[de]=CAS KRunner Plugin
Comment=A Krunner Plugin for calculating symbolically and in high precission
Comment[de]=Ein KRunner Plugin, um symbolische sowie in hoher Genauigkeit durchzuführen
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_cas_plugin
X-KDE-PluginInfo-Author=Fabian Schmitthenner
X-KDE-PluginInfo-Email=fabian1024@googlemail.com
X-KDE-PluginInfo-Name=CAS_Calculator_Krunner_Plugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Ubuntu-Gettext-Domain=desktop_kdesdk
