[Desktop Entry]
Name=runner
Name[ca]=runner
Name[cs]=runner
Name[da]=runner
Name[de]=runner
Name[el]=runner
Name[en_GB]=runner
Name[es]=runner
Name[et]=runner
Name[fr]=runner
Name[ga]=runner
Name[gl]=runner
Name[hu]=runner
Name[it]=runner
Name[ja]=runner
Name[km]=runner
Name[ko]=runner
Name[lv]=runner
Name[nds]=runner
Name[nl]=runner
Name[nn]=runner
Name[pa]=runner
Name[pl]=runner
Name[pt]=runner
Name[pt_BR]=runner
Name[ro]=runner
Name[ru]=runner
Name[sr]=runner
Name[sr@latin]=runner
Name[sv]=runner
Name[tr]=runner
Name[uk]=runner
Name[x-test]=xxrunnerxx
Name[zh_CN]=runner
Name[zh_TW]=runner
Comment=runner runner
Comment[ca]=Llançador de runner
Comment[cs]=runner runner
Comment[da]=runner-runner
Comment[de]=runner
Comment[el]=εκτελεστής runner
Comment[en_GB]=runner runner
Comment[es]=Lanzador para runner
Comment[et]=runner käivitaja
Comment[fr]=Lanceur runner
Comment[ga]=Feidhmitheoir runner
Comment[gl]=Executor runner
Comment[hu]=runner-futtató
Comment[it]=Esecutore di runner
Comment[ja]=runner runner
Comment[km]=កម្មវិធី​រត់ runner​
Comment[ko]=runner 실행기
Comment[lv]=runner darbinātājs
Comment[nds]=runner-Dreger
Comment[nl]=runner-starter
Comment[nn]=runner-køyrar
Comment[pa]=runner ਰਨਰ
Comment[pl]=Uruchamianie runner
Comment[pt]=Execução do runner
Comment[pt_BR]=Execução do runner
Comment[ro]=Lansator runner
Comment[sr]=runner извођач
Comment[sr@latin]=runner izvođač
Comment[sv]=Körning av runner
Comment[tr]=runner çalıştırıcı
Comment[uk]=Засіб запуску runner
Comment[x-test]=xxrunner runnerxx
Comment[zh_CN]=runner 启动器
Comment[zh_TW]=runner 執行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_runner
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Ubuntu-Gettext-Domain=desktop_kdesdk
